[init]
	defaultBranch = main
[user]
	email = {{ .user.email }}
	name = {{ .user.name }}
	username = {{ .user.git_user }}
	signingkey = ~/.ssh/{{ .user.git_user }}/github.pub
[gpg]
	format = ssh
[core]
	autocrlf = input
	editor = code -w
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
	sshCommand = "ssh -i ~/.ssh/{{ .user.git_user }}/github -F /dev/null"
	excludesfile = ~/.gitignore_global

{{ if eq .machine.type "whalebone" -}}
[includeIf "gitdir:~/Projects/Whalebone/"]
        path = ~/Projects/Whalebone/.gitconfig
[includeIf "gitdir:~/projects/whalebone/"]
	path = ~/projects/whalebone/.gitconfig
{{ end -}}
[includeIf "gitdir:~/projects/personal/"]
	path = ~/projects/personal/.gitconfig

[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = delta
[difftool]
	prompt = false
[delta]
	features = line-numbers decorations
	line-numbers = true
	paging = never
[delta "decorations"]
	minus-style = red bold normal
	plus-style = green bold normal
	minus-emph-style = white bold red
	minus-non-emph-style = red bold normal
	plus-emph-style = white bold green
	plus-non-emph-style = green bold normal
	file-style = yellow bold none
	file-decoration-style = yellow box
	hunk-header-style = magenta bold
	hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
	line-numbers-right-format = "{np:^4}│ "

[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
